body {
    width: 1000px;
    background-color: silver;
    color: black; ;
    font-size: 1.2rem;
    margin: 0 auto;
    line-height: 1.6;
    font-family: 'Roboto', -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}


h1 {
    text-align: center;
    font-size: 3rem;
    color: dimgrey
  }

h2 {
    text-align: left;
    font-size: 2rem;
  }

h3 {
    text-align: left;
    font-size: 1.5rem;
  }
  
.slider-section {
    margin: 2rem 0;
  }
  
.youtube-section {
    margin: 2rem 0;
  }

.quote-container {
  text-align: center;
  font-size: 1.2rem;
  font-style: italic;
  color:dimgrey;
  width: 60%;
  margin: 0 auto;
  margin-top: 20px;
}

.quote-author {
  text-align: right;
  font-size: 1rem;
  font-style: italic;
  color:dimgray;
  width: 60%;
  margin: 0 auto;
}

.author-info {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-bottom: 20px; /* Adjust as needed */
}

.author-name {
  margin: 0 10px 0 0;
  font-size: 1.1em; /* Adjust as needed */
  margin-left: 10px;
}

.texto-centrado {
  text-align:justify;
  margin-left: 20px;
  margin-bottom: 40px;
}

.text-box-center {
  text-align: center;
}

.aladerecha {
  text-align: right;
}

.centered {
  text-align: center;
  padding-bottom: 20px;
}

.contenedor-texto {
  justify-content: center;
  align-items: center;
  margin: 30px;
  padding-bottom: 30px;
}

.contenedor-1  {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px;
}

.quotes {
  font-size: 18px; 
  text-align:center;
  font-style: italic;
}

.quotes-inline {
  font-style: italic;
  display: inline;
}

.author {
  margin-top: 10px;
  margin-bottom: 10px;
  font-style: italic;
  text-align: right;
  font-size: 16px; 
}

