.slider-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: 20px auto;
  }
  
  .slider-image {
    object-fit: cover;
    transition: opacity 0.5s ease-in-out;
  }
  
  /* Responsive */
  @media (max-width: 768px) {
    .slider-image {
      width: 100% !important;
      height: 300px !important;
    }
  }