---
import Layout from '../../layouts/Layout.astro';
import ImageSlider from '../../components/ImageSlider.astro';
import YouTubeCarousel from '../../components/YouTubeCarousel.astro';
import Navbar from '../../components/Navbar.astro';
import Modal from '../../components/Modal.astro';
import LazyVideo from '../../components/LazyVideo.jsx';
import '../../styles/index.css';
import { t } from '../../i18n/translate';

const pathname = Astro.url.pathname;

// Para getStaticPaths
export function getStaticPaths() {
  return [
    {params: {lang: undefined}}, // ruta por defecto: /florplay
    {params: {lang: 'en'}},      // ruta en inglés: /florplay/en
  ];
}

// Define el array de imágenes
const manos = [
  '/florplay/images/menis.jpg',
  '/florplay/images/manos.jpg',
];

const logos = [
  '/florplay/images/logo_trans.png',
  '/florplay/images/logo_gris.jpg',
  '/florplay/images/logo.jpg',
];

const videos = [
  {
    id: '_06uGxGkALY',
    title: t('proyecto.vid1', pathname)
  },  
  {
    id: 'Gk-mXcxY8jw',
    title: t('proyecto.vid2', pathname)
  },
  {
    id:'59BbTY5VDPc',
    title: t('proyecto.vid3', pathname)
  },
  {
	id: 'D_kWz2R5Lrk',
	title: t('proyecto.vid4', pathname)
  },
  {
	id: '_L_-Y7aRAQ4',
	title: t('proyecto.vid5', pathname)
  },
  {
    id: 'sebZhyx2EjM',
    title: t('proyecto.vid6', pathname)
  },
  {
    id: 'oyyZ1g8BPK0',
    title: t('proyecto.vid7', pathname)
  }

  // Añade aquí más videos con sus IDs y títulos
];

---

<Layout title="María Florencia Vidal">
  <Navbar />
  <main class="container">
    <header>
    </header>
    <h1>María Florencia Vidal</h1>
  
    
    <section id="inicio">
    
      <div class="centered">
        <img 
          src="/florplay/images/flor_refinitiva.jpg"
          alt="Slider image"
          width="350px"
          height="500px"
        />
      </div>
    </section>

    <div class="quote-container">
      {t('inicio.cita', pathname)}
    </div>
    <div class="quote-author">
      María Florencia Vidal
    </div>

    <section id="trayectoria">
        <h2>{t('trayectoria.titulo', pathname)}</h2>

        <div class="centered">
            <img 
              src="/florplay/images/CFC.jpg"
              alt="Slider image"
              width="90px"
              height="90px"
            />
        </div>

        <div class="centered">
          <p>{t('trayectoria.colegiada', pathname)}</p>
        </div>

        <br/>
        <h3>{t('trayectoria.master', pathname)}</h3>

        <div class="contenedor-texto">
          Universitat de Barcelona (UB)
          <p>2023 – {t('trayectoria.actualidad', pathname)}</p>
        </div>

        <h3>{t('trayectoria.osteopata', pathname)}</h3>
        <div class="contenedor-texto">
          Escola d ́ Osteopatía de Barcelona (EOB)
          Certificación Universitat Pompeu Fabra y European School of Osteopathy
          <p>2019 – 2023</p>
        </div>

        <h3>{t('trayectoria.fisioterapeuta', pathname)}</h3>
        <div class="contenedor-texto">
          Universidad de Buenos Aires (UBA)
          <p>2011 – 2018</p>
        </div>

        <h3>{t('trayectoria.anatomia', pathname)}</h3>
        <div class="contenedor-texto">
          Universidad de Buenos Aires (UBA)
          <p>2013 – 2014</p>
        </div>

        <h3>{t('trayectoria.edufisica', pathname)}</h3>
        <div class="contenedor-texto">
          Instituto Superior de Educación Física Dr. Enrique Romero Brest. {t('trayectoria.especializacion', pathname)}
          <p>2009 - 2012</p>
        </div>

        <div class="author-info">
          <a href="https://www.linkedin.com/in/mar%C3%ADa-florencia-vidal-a661b717b/" target="_blank" rel="noopener noreferrer" class="linkedin-link">
            <img 
            src="/florplay/images/linkedin-svgrepo-com.svg"
            alt="Slider image"
            width="50px"
            height="50px"
          />
          </a>
          <h4 class="author-name">María Florencia Vidal</h4>
        </div>
    </section>

    <section id="proposito">
      <h2>{t('proposito.titulo', pathname)}</h2>
      <div class="contenedor-texto">
        <h3>{t('proposito.proposhead', pathname)}</h3>
      </div>
      <div class="contenedor-texto">
        {t('proposito.propostext', pathname)}
      </div>
      
      <div class="contenedor-texto">
        <h3>{t('proposito.enfoquehead', pathname)}</h3>
      </div>

      <div class="contenedor-subhead">
        <h4 class="centered">{t('proposito.enfoquesubhead', pathname)}</h4>
      </div>

      <div class="contenedor-texto">
        {t('proposito.enfoquetext', pathname)}
      </div>


      <div class="contenedor-video">
        <LazyVideo 
        src="/florplay/nuez-y-cerebro.mov" 
        client:load
      />
      </div> 
     
      <div class="centered">
        <Modal id="ATS" trigger={t('proposito.sabermas', pathname)}>
          <div slot="texto-principal">
            <div class="quotes-inline">
              <div class="quotes">“{t('proposito.stillquote', pathname)}” </div>
            </div>
            <div class="author">Andrew Taylor Still</div>
          </div>
          <div slot="contenido-popup">
            <div class="contenedor-1">
              <div class="centered">
                <img 
                  src="/florplay/images/TS.jpg"
                  alt="Slider image"
                  width="220px"
                  height="300px"
                />
              </div>
          </div>
            <p>{t('proposito.stillpopup', pathname)}
            </p>
          </div>
        </Modal>
      </div>

      <div class="contenedor-video">
        <LazyVideo 
        src="/florplay/sol-y-sinapsis.mov" 
        client:load
      />
      </div>
      
    <div class="centered">
    <Modal id="SRC" trigger={t('proposito.sabermas', pathname)}>
      <div slot="texto-principal">
        <div class="quotes-inline">
          <div class="quotes">“{t('proposito.cajalquote', pathname)}”</div>
        </div>
        <div class="author">Santiago Ramón y Cajal</div>
      </div>
      <div slot="contenido-popup">
        <div class="contenedor-1">
          <div class="centered">
            <img 
              src="/florplay/images/RyC.jpg"
              alt="Slider image"
              width="220px"
              height="300px"
            />
          </div>
        </div>
          <p>{t('proposito.cajalpopup', pathname)}
        </p>
      </div>
    </Modal>
    </div>


<div class="centered">
  <h3>{t('proposito.integracionhead', pathname)}</h3>
</div>

<h4>{t('proposito.integnaturhead', pathname)}</h4>

<div class="contenedor-texto">
  {t('proposito.integnaturtext1', pathname)} 
  <i>«{t('proposito.integnaturtext2', pathname)} »</i>{t('proposito.integnaturtext3', pathname)} 
</div>
  
<h4>{t('proposito.autocurhead', pathname)}</h4>

<div class="contenedor-texto">
{t('proposito.autocurtext1', pathname)}<i>«{t('proposito.autocurtext2', pathname)}»</i> {t('proposito.autocurtext3', pathname)}
</div>

<div class="centered">
  <h3>{t('proposito.integconsultahead', pathname)}</h3>
</div>

    <div class="slider-section">
        <ImageSlider 
          images={manos} 
          width="350px" 
          height="500px" 
        />
    </div>

  <div class="texto-centrado">

    <p>{t('proposito.integconsultatext1', pathname)}</p>
    <p>{t('proposito.integconsultatext2', pathname)}</p>
  </div>
  </section>


  <section id="proyecto">

    <h2>{t('proyecto.titulo', pathname)}</h2>

    <div class="slider-section">
        <ImageSlider 
          images={logos} 
          width="400px" 
          height="455px" 
        />
    </div>

    <div class="text-box-center">
      <p>{t('proyecto.proytext1', pathname)}</p>
      <p>{t('proyecto.proytext2', pathname)}</p>  
    </div>

      <div class="youtube-section">
        <YouTubeCarousel videos={videos} />
      </div>
    </section>

    <section id="ubicacion">
      <h2>{t('ubicacion.titulo', pathname)}</h2>


      <div class="centered-image">

        <div class="contenedor-ubicacion">
          <iframe 
            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2992.453699144311!2d2.1553397128986713!3d41.4076689711776!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x12a4a2bbbb52b987%3A0xa805b32e2d935c8a!2sCl%C3%ADnica%20d&#39;Osteopatia%20i%20Fisioter%C3%A0pia%20Gir!5e0!3m2!1sen!2ses!4v1725822623774!5m2!1sen!2ses" 
            allowfullscreen="" 
            loading="lazy" 
            referrerpolicy="no-referrer-when-downgrade">
          </iframe>
        </div>

        <h3 style="text-align: center;">GIR Clínica d'Osteopatia i Fisioteràpia</h3> 
        <div class="text-box-center">
        Carrer de Rabassa, 29, Gràcia, 08024 - Barcelona 
        </div>
        <br/>
        
        <h3 style="text-align: center;"> {t('ubicacion.transporte', pathname)}</h3>
        <div class="text-box-center">
        <p>Metro: L3, L4</p>
        <p>FGC: R2S, S1, S2, L6, L7</p>
        <p>Bus: 24, 39, D40, H6, 116</p>
        </div>
        
      </div>


    </section>

  </main>
</Layout>
